<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h1>flex-box</h1>
<h1>Горизонтальное растягивание двух элементов и сжатие</h1>
<!--
    Задание:
    Есть flex-box
   1) Сделать чтобы 1 и 2 элементы растягивались, а все остальные элементы не растягивались.
   Нужно сделать так чтобы 1 элемент занимал 1 часть свободного пространства,
   а 2 элемент занимал 2 части свободного пространства,
  2) Проверить. Растянуть контейнер на 900px,
  нужно чтобы 1 был 250, второй 350, остальные по 150.
  3) Сделать чтобы при сжатии 1 элемент не сжимался, остальные элементы сжимались стандартно
 -->

<div class="container">
    <div class="box" id="box1">1</div>
    <div class="box" id="box2">2</div>
    <div class="box" id="box3">3</div>
    <div class="box" id="box4">4</div>
</div>
</body>
</html>